@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("variables.css");

/*Estilos Generales */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.section__subtitle span {
  color: var(--first-color);
}

.main {
  overflow: hidden; 
}

/*Estilos del NAV*/

.header {
  position: fixed;
  width: 100%;
  background-color: var(--container-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo span {
  color: var(--first-color);
}

.nav__abrir, 
.nav__cerrar {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}


/*para telefonos*/
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 10%, .3);
    width: 75%;
    height: 100%;
    padding: 4.5rem 0 0 3rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: right .4s;
  }
}

.nav__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  position: relative;
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color .4s;
}

.nav__link::after{
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__link:hover::after{
  width: 30%;
}

.nav__cerrar {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}

.blur-header {
  background-color: transparent;
}

.blur-header::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 10%, .3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  top: 0;
  left: 0;
  z-index: -1;
}

/* Activar link */
.active-link {
  color: var(--first-color);
}

/*seccion HOME */
.home {
  background-color: var(--container-color);
}

.home__container {
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.home__content {
  display: grid;
  row-gap: 2rem;
}

.home__data {
  text-align: center;
}

.home__subtitulo, 
.home__profesion {
  font-size: var(--bigger-font-size);
}
.home__subtitulo span, 
.home__titulo {
  color: var(--first-color);
}

.home__titulo {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}

.home__descripcion {
  margin-block: 1rem 1.5rem;
  color: var(--title-color);
}

.home__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.home__social-link {
  display: flex;
  background-color: var(--first-color-alt);
  padding: .5rem;
  color: var(--title-color);
  font-size: 1.5rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform .4s;
}

.home__social-link:hover {
  transform: translateY(-.25rem);
}

.home__img{
  width: 300px; /*tamaño de la img*/
  justify-self: center;
  mask-image: linear-gradient(to bottom,
              hsla(var(--hue), 40%, 16%) 60%,
              transparent 100%)
}

/*estilo boton*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: box-shadow .4s;
}

.button:hover {
  box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
}

/*Seccion información*/
.about__container {
  row-gap: 2.5rem;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: 2rem;
}

.about__img {
  justify-self: center;
}


@media screen and (min-width: 1023px) {
  .section {
    padding-block: 7rem 2rem;
  }
  .section__subtitle {
    font-size: var(--normal-font-size);
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__cerrar, 
  .nav__abrir {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu {
    width: initial;
  }

  .blur-header::after {
    backdrop-filter: blur(25px);
  }
}


@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .home__container {
    grid-template-columns: 455px 550px;
    column-gap: 7rem;
    padding-block: 2rem 3rem;
  }
  .home__content {
    row-gap: 4.5rem;
  }
  .home__descripcion {
    margin-block: 1.5rem 2.5rem;
  }
  .home__social {
    column-gap: 1.5rem;
  }

  .about__container {
    grid-template-columns: 550px 460px;
    column-gap: 4.5rem;
    padding-bottom: 1rem;
  }

  .about__description {
    margin-bottom: 3rem;
  }

}